<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Golang web-app! {{ block "title" .}} {{ end }}</title>
</head>
<body>
    <div>
        {{ block "content" . }}
        {{ end }}
    </div>
</body>
</html>